<p id="notice"><%= notice %></p>

<h1>Listing tags</h1>

<ul id="articles">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %><br/>
      <%= link_to 'Delete', tag, method: :delete, data: {confirm: "Are you sure you want to delete this tag?"} %>
    </li>
  <% end %>
</ul>
